.editor {
  flex: 1 1 auto;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  overflow: hidden;
}

.editorGrabbing {
  cursor: grabbing;
}
