@use '../../../styles/helpers' as *;

.slider {
  --_slider-border: #{size(1)} solid var(--color-border);

  display: flex;
  background-color: var(--color-bg);
  z-index: 1;

  &.horizontal {
    grid-area: controls-bottom;
    border-top: var(--_slider-border);
  }
  
  &.vertical {
    grid-area: controls-right;
    border-left: var(--_slider-border);
  }
}
