@use '../../styles/helpers' as *;

.toolbar {
  position: absolute;
  bottom: size(16);
  left: size(16);
  border: size(1) solid var(--color-border);
  padding: size(16);
  color: var(--color-text);
}