@use '../../styles/helpers' as *;

.toolbar {
  --_toolbar-offset: #{size(16)};

  position: absolute;
  bottom: var(--_toolbar-offset);
  left: var(--_toolbar-offset);
  background-color: var(--color-bg);
  border: size(1) solid var(--color-border);
  color: var(--color-text);
  font-size: var(--font-size-small);
  width: size(200);
  max-width: calc(100% - var(--_toolbar-offset) * 2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: size(16);
  padding: size(8) size(16);
  border-bottom: 1px solid var(--color-border);
}

.body {
  padding: size(16);
}