@use '../../styles/helpers' as *;

.toolbar {
  --_toolbar-offset: #{size(16)};

  position: absolute;
  bottom: var(--_toolbar-offset);
  left: var(--_toolbar-offset);
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  border: size(1) solid var(--color-border);
  color: var(--color-text);
  font-size: var(--font-size-small);
  width: size(320);
  max-width: calc(100% - var(--_toolbar-offset) * 2);
  max-height: calc(100% - var(--_toolbar-offset) * 2);
  z-index: 10; // Ensure toolbar is above other elements
}

.toolbarDragging {
  z-index: 20; // Higher z-index when dragging
}

.header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: size(40);
  gap: size(16);
  border-bottom: 1px solid var(--color-border);
  cursor: move;
  user-select: none;
}

.header:active {
  cursor: grabbing;
}

.title {
  min-width: 0;
  display: flex;
  align-items: center;
  gap: size(8);
  padding-inline: size(8);

  :global(.icon) {
    flex-shrink: 0;
    font-size: 1.25rem;
    color: var(--color-border);
  }
}

.titleText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerActions {
  height: 100%;
  display: flex;
  align-items: center;
}

.headerButton {
  --_button-bg: var(--color-bg);

  height: 100%;
  aspect-ratio: 1;
  background-color: var(--_button-bg);
  color: var(--color-text);
  border: none;
  border-left: 1px solid var(--color-border);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1rem;

  &:enabled {
    &:hover {
      --_button-bg: var(--color-bg-hover);
    }
  }
}

.body {
  padding: size(16);
  cursor: default;
  overflow: auto;
}

.bodyMinimized {
  max-height: size(160);
}