@use '../../styles/helpers' as *;

.controls {
  --_offset: #{size(16)};
  --_border: #{size(1)} solid var(--color-border);

  position: absolute;
  top: var(--_offset);
  right: var(--_offset);
  display: flex;
  flex-direction: column;
  gap: var(--_offset);
}

.group {
  display: flex;
  flex-direction: column;
  border: var(--_border);
}

.button {
  --_size: #{size(44)};

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--_size);
  height: var(--_size);
  background-color: var(--color-bg);
  color: var(--color-text);
  border: none;
  border-radius: none;
  font-size: var(--font-size-large);
  cursor: pointer;

  &:enabled {
    &:hover {
      background-color: var(--color-bg-hover);
    }
  }

  &[disabled] {
    cursor: not-allowed;

    svg {
      opacity: 0.37;
    }
  }

  & + .button {
    border-top: var(--_border);
  }
}

.buttonCanvasOutlineActive {
  color: var(--color-border-canvas);
}