@use '../../styles/helpers' as *;

.input {
  --_range-thickness: #{size(2)};
  --_thumb-size: #{size(20)};
  --_color: var(--color-input-border);
  --_padding-inline: #{size(16)};
  --_padding-block: #{size(12)};
  --_padding-block-actual: calc(var(--_thumb-size) * 0.5 - var(--_range-thickness) * 0.5 + var(--_padding-block));

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background: transparent;
  width: 100%;
  height: calc(var(--_padding-block-actual) + var(--_range-thickness));
  margin: 0;
  padding-block: var(--_padding-block-actual);
  padding-inline: var(--_padding-inline);
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  @include focus-selector {
    &:focus {
      outline: none;
  
      &::-webkit-slider-thumb {
        @include focus-styling;
      }

      &::-moz-range-thumb {
        @include focus-styling;
      }

      &::-ms-thumb {
        @include focus-styling;
      }
    }
  }

  // WebKit

  &::-webkit-slider-runnable-track {
    background: var(--_color);
    height: var(--_range-thickness);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--color-bg);
    border: var(--_range-thickness) solid var(--_color);
    width: var(--_thumb-size);
    height: var(--_thumb-size);
    margin-top: calc(var(--_thumb-size) * -0.5 + var(--_range-thickness) * 0.5);
    border-radius: 50%;
  }

  // Firefox

  &::-moz-range-track {
    background: var(--_color);
    height: var(--_range-thickness);
  }

  &::-moz-range-thumb {
    background: var(--color-bg);
    border: var(--_range-thickness) solid var(--_color);
    width: var(--_thumb-size);
    height: var(--_thumb-size);
    border-radius: 50%;
  }

  // IE & Edge

  &::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    height: var(--_range-thickness);
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper {
    background: var(--_color);
  }

  &::-ms-thumb {
    background: var(--color-bg);
    border: var(--_range-thickness) solid var(--_color);
    width: var(--_thumb-size);
    height: var(--_thumb-size);
    border-radius: 50%;
  }
}

// Orientation: Vertical
.inputVertical {
  writing-mode: vertical-lr;
  direction: rtl;
  height: 100%;
  width: calc(var(--_padding-block-actual) + var(--_range-thickness));

  // WebKit (Vertical)

  &::-webkit-slider-runnable-track {
    width: var(--_range-thickness);
    height: 100%;
  }

  &::-webkit-slider-thumb {
    margin-top: 0;
    margin-left: calc(var(--_thumb-size) * -0.5 + var(--_range-thickness) * 0.5);
  }

  // Firefox (Vertical)

  &::-moz-range-track {
    width: var(--_range-thickness);
    height: 100%;
  }

  // IE & Edge (Vertical)

  &::-ms-track {
    width: var(--_range-thickness);
    height: 100%;
  }
}