@use "../../styles/helpers" as *;

@property --w {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@property --h {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@property --d {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@property --x {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@property --y {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@property --z {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@property --c {
  syntax: "<color>";
  inherits: false;
  initial-value: #ccc;
}
@property --z-index {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

.cuboid {
  --_w: calc(var(--w, 1) * var(--base-unit)); // Width
  --_h: calc(var(--h, 1) * var(--base-unit)); // Height
  --_d: calc(var(--d, 1) * var(--base-unit)); // Depth
  --_x: calc(var(--x, 0) * var(--base-unit)); // Pos X
  --_y: calc(var(--y, 0) * var(--base-unit)); // Pos Y
  --_z: calc(var(--z, 0) * var(--base-unit)); // Pos Z
  --_c: var(--c); // Color
  --_z-index: var(--z-index); // Z-index

  position: absolute;
  transform-style: preserve-3d;
  width: var(--_w);
  height: var(--_h);
  background-color: var(--_c);
  transform: translate3d(
    var(--_x),
    calc(var(--_canvas-height) - var(--_h) - var(--_y)),
    calc(var(--_canvas-depth) * 0.5 - var(--_z) - var(--_d))
  ); // Place the cuboid at closest bottom left corner
  z-index: var(--_z-index);

  // Left & Right faces share dimensions and centering
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: inherit;
    width: var(--_d);
    height: var(--_h);
    left: calc(var(--_w) * 0.5 - var(--_d) * 0.5);
  }

  // Left face
  &::before {
    transform: rotateY(90deg) translateZ(calc(var(--_w) * 0.5)) translateX(-50%);
  }

  // Right face
  &::after {
    transform: rotateY(-90deg) translateZ(calc(var(--_w) * 0.5)) translateX(50%);
  }

  &:hover {
    background-color: color-mix(in srgb, var(--_c) 80%, transparent);
    border: size(2) solid red;

    &::before,
    &::after {
      background-color: color-mix(in srgb, var(--_c) 80%, transparent);
      border: size(2) solid red;
    }

    .cuboidInner {
      background-color: color-mix(in srgb, var(--_c) 80%, transparent);
      border: size(2) solid red;

      &::before,
      &::after {
        background-color: color-mix(in srgb, var(--_c) 80%, transparent);
        border: size(2) solid red;
      }
    }
  }

  &[role="button"] {
    cursor: pointer;
  }
}

.cuboidActive {
  border: size(2) solid pink;

  &::before,
  &::after {
    border: size(2) solid pink;
  }

  .cuboidInner {
    border: size(2) solid pink;

    &::before,
    &::after {
      border: size(2) solid pink;
    }
  }
}

.cuboidInner {
  display: block;
  position: absolute;
  transform-style: inherit;
  width: var(--_w);
  height: var(--_h);
  background-color: inherit;
  transform: translateZ(var(--_d));

  // Top & Bottom faces share dimensions and centering
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: inherit;
    width: var(--_w);
    height: var(--_d);
    top: calc(var(--_h) * 0.5 - var(--_d) * 0.5);
  }

  // Top face
  &::before {
    transform: rotateX(90deg) translateZ(calc(var(--_h) * 0.5)) translateY(-50%);
  }

  // Bottom face
  &::after {
    transform: rotateX(-90deg) translateZ(calc(var(--_h) * 0.5)) translateY(50%);
  }
}
