.canvas {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  translate: 0 0 calc(var(--_canvas-depth) * -0.5);
}

.face {
  position: absolute;
  border: 2px solid var(--color-border-canvas);
  pointer-events: none;
}

.faceFront,
.faceBack {
  width: var(--_canvas-width);
  height: var(--_canvas-height);
}

.faceLeft,
.faceRight {
  width: var(--_canvas-depth);
  height: var(--_canvas-height);
  left: calc(var(--_canvas-width) * 0.5 - var(--_canvas-depth) * 0.5);
}

.faceTop,
.faceBottom {
  width: var(--_canvas-width);
  height: var(--_canvas-depth);
  top: calc(var(--_canvas-height) * 0.5 - var(--_canvas-depth) * 0.5);
}

.faceFront {
  transform: rotateY(0deg) translateZ(calc(var(--_canvas-depth) * 0.5));
}

.faceBack {
  transform: rotateY(180deg) translateZ(calc(var(--_canvas-depth) * 0.5));
}

.faceLeft {
  transform: rotateY(-90deg) translateZ(calc(var(--_canvas-width) * 0.5));
}

.faceRight {
  transform: rotateY(90deg) translateZ(calc(var(--_canvas-width) * 0.5));
}

.faceTop {
  transform: rotateX(90deg) translateZ(calc(var(--_canvas-height) * 0.5));
}

.faceBottom {
  transform: rotateX(-90deg) translateZ(calc(var(--_canvas-height) * 0.5));
}